<div class="container">
  <h2>View Contact Details 
    <a routerLink="/contacts/new" class="btn btn-primary">Create New Contact</a>
  </h2>
  
  <div class="row" *ngIf ="contactList && contactList.length >0">
    <div class="card col-md-4" *ngFor = "let contact of contactList">
      <div class="card-body">
        <h5 class="card-title">{{contact.username}}</h5>
        <p class="card-text">{{contact.phone}}</p>
        <a routerLink="/contacts/{{contact.id}}" class="link">View Details</a>
      </div>
    </div>
  </div>
</div>